In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
application_record = pd.read_csv('application_record.csv')
application_record.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [34]:
credit_record = pd.read_csv('credit_record.csv')
credit_record.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [35]:
application_record.isna().sum()

ID                          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        134203
CNT_FAM_MEMBERS             0
dtype: int64

In [36]:
#we see that occupation_type has large number of na-values. We will find the percentage of na values
application_record.OCCUPATION_TYPE.isna().sum()/application_record.shape[0]

0.30601039317580153

Dropping 30% rows is not a good idea. We should look to impute the values.
1. Impute with a constant unknown
2. Impute with most frequent
3. We can use Algorithms to impute the value
    1. KNN Imputer/Iterative Imputer

In [37]:
# constant 'unknown'
application_record_const = application_record.copy(deep=True)
from sklearn.impute import SimpleImputer
constant_imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value='unknown')
application_record_const.OCCUPATION_TYPE = constant_imputer.fit_transform(application_record.OCCUPATION_TYPE.values.reshape(-1,1))

In [39]:
application_record_const.OCCUPATION_TYPE.value_counts()

unknown                  134203
Laborers                  78240
Core staff                43007
Sales staff               41098
Managers                  35487
Drivers                   26090
High skill tech staff     17289
Accountants               15985
Medicine staff            13520
Cooking staff              8076
Security staff             7993
Cleaning staff             5845
Private service staff      3456
Low-skill Laborers         2140
Secretaries                2044
Waiters/barmen staff       1665
Realty agents              1041
HR staff                    774
IT staff                    604
Name: OCCUPATION_TYPE, dtype: int64

In [40]:
# Most 'Frequent
application_record_mfq = application_record.copy(deep=True)
from sklearn.impute import SimpleImputer
constant_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
application_record_mfq.OCCUPATION_TYPE = constant_imputer.fit_transform(application_record.OCCUPATION_TYPE.values.reshape(-1,1))

In [41]:
application_record_mfq.OCCUPATION_TYPE.value_counts()

Laborers                 212443
Core staff                43007
Sales staff               41098
Managers                  35487
Drivers                   26090
High skill tech staff     17289
Accountants               15985
Medicine staff            13520
Cooking staff              8076
Security staff             7993
Cleaning staff             5845
Private service staff      3456
Low-skill Laborers         2140
Secretaries                2044
Waiters/barmen staff       1665
Realty agents              1041
HR staff                    774
IT staff                    604
Name: OCCUPATION_TYPE, dtype: int64

In [42]:
# Most 'Frequent
application_record_alg = application_record.copy(deep=True)
from sklearn.impute import KNNImputer
alg_imputer = KNNImputer(missing_values=np.nan, n_neighbors=5, weights="uniform")
application_record_alg.OCCUPATION_TYPE = alg_imputer.fit_transform(application_record.OCCUPATION_TYPE.values.reshape(-1,1))

ValueError: could not convert string to float: 'Security staff'